@import url("./notes.css");
@import url("./criminals.css");
@import url("./witnesses.css");
@import url("./associatesdialogs.css");
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;700&display=swap');
body {
    font-family: 'Podkova', serif;
    font-size: 1em;
}

#header {
    text-align: center;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1em;
}

.filters>* {
    margin-right: .5em;
}

.container {
    display: flex;
    flex-direction: column;
}

.listsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hidden {
    display: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}