@import url("./notes.css");
@import url("./criminals.css");
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;700&display=swap');
body {
    font-family: 'Podkova', serif;
    font-size: 1em;
}

#header {
    text-align: center;
}

.filters {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 1px solid orange;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
}

.listsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid orange;
}

.hidden {
    display: none;
}